body{
    font-family: sans-serif; 
    box-sizing: border-box;
    }

h1{
    text-align: center;
}

form{
    display:block;
    background-color: rgb(224, 223, 223);
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 20px;
    margin: 0 auto;
    width: 350px;
    }