.wrap{
    width:90%;
    max-width: 450px;
    padding:30px;
    margin: auto;
    background:#fff;
    box-shadow: 0px 0px 3px gray;
}

.contenedor-formulario{
    width:100%;
    color: #fff;
    padding:50px;
}

.formulario{
    width:100%;
    margin:auto;
}

#formulario{
    width:100%;
    margin:auto;
}

.input-group{
    position: relative;
    margin-bottom:15px;
}

input[type="text"],
input[type="email"],{
    font-family:'Work Sans', sans-serif;
    font-size:13px;
    color:#303F9F;
    width:100%;
    outline:none;
    padding-top:15px;
    padding-bottom: 15px;
    background: none;
    border: none;
    border-bottom: 2px solid gray;
}

select{
    font-family:'Work Sans', sans-serif;
    width:100%;
    padding-top:5px;
    padding-bottom: 5px;
    margin-top:10px;
}

input[type="submit"]{
    font-family:'Work Sans', sans-serif;
    font-size:15px;
    letter-spacing: 1px;
    font-variant-caps: small-caps;
    background-color: #303F9F;
    border-radius: 1px;
    border: 2px solid white;
    color: #fff;
    cursor:pointer;
    display: inline-block;
    padding: 15px;
    width:100%;
}

h3{
    color: #1e1e1e;
    text-align:center;
    padding:10px;
    margin-bottom:10px;
}

#labels{
    font-family: 'Work Sans', sans-serif;
    color:#1e1e1e;
    font-size: 12px;
    padding-top:10px;
    padding-bottom: 10px;
    font-variant-caps: small-caps;
}

.reservado{
    width:90%;
    text-align:center;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    color:#1e1e1e;
    padding-top:30px;
}